<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <img width="50" alt="Dice Logo" src="assets\images\d20-2699387_1920.png">
    <a class="navbar-brand" href="#">DND Dice Checker</a>
    <div class = "dropdown">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create-die-set">Create die set</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/form">Add die data</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/user-data">See data</a>
        </li>
  
      </ul>
    </div>
    </div>
  </nav>