<div class = "main-component d-flex flex-column align-items-md-center">
    <h1 class="p-2">Create a new die set</h1>
    <form class = "form-group p-2" [formGroup]="dieSetForm" (ngSubmit)="submitForm()" novalidate>
        <!-- Form elements goes here -->
        
            <div> 
                <label class="left-element">Name:</label>
                <input
                id="name"
                type="text"
                formControlName="name"
                required>
            </div>
            
        
        <br/>
        <label>Die Types:
        <div class = "form-check" *ngFor="let dieType of dieTypes; let i = index">
            <label class = "form-check-lable" for="dieType{{dieType}}">
                <input class = "form-check-input"
                id="dieType{{dieType}}" 
                type="checkbox" name="dieType" 
                [value] = "dieType.value" 
                (change)="onCheckboxChange($event)"
                >
                {{dieType.name}}
                </label>
        </div>
        </label>
        <br>
        <input class="p-2" type="submit" value="Submit">
    </form>
    <br>
    <div class="p-2">
        <a class="nav-link" routerLink="/die-set">See existing die sets</a>
    </div>
</div>
