<div class = "main-component d-flex justify-content-center">
    <form class = "form-group" [formGroup]="dieSetForm" (ngSubmit)="submitForm()" novalidate>
        <!-- Form elements goes here -->
        
            <div> 
                <label class="left-element">Name:</label>
                <input
                id="name"
                type="text"
                formControlName="name"
                required>
            </div>
            
        
        <br/>
        <label>Die Types:
        <div class = "form-check" *ngFor="let dieType of dieTypes; let i = index">
            <label class = "form-check-lable" for="dieType{{dieType}}">
                <input class = "form-check-input"
                id="dieType{{dieType}}" 
                type="checkbox" name="dieType" 
                [value] = "dieType.value" 
                (change)="onCheckboxChange($event)"
                >
                {{dieType.name}}
                </label>
        </div>
        </label>
        <input type="submit" value="Submit">
    </form>
</div>
