<div class = "main-component">
    <form class = "form-group" [formGroup]="dieSetForm" (ngSubmit)="submitForm()" novalidate>
        <!-- Form elements goes here -->
        <label>Name:
            <div>
                <input
                id="name"
                type="text"
                formControlName="name"
                required
                >
            </div>
            <div *ngIf="!dieSetFormValid" class="alert alert-danger" role="alert">
                name required!
            </div>
        </label>
        <br/>
        <label>Die Types:
        <div class = "form-check" *ngFor="let dieType of dieTypes; let i = index">
            <label class = "form-check-lable" for="dieType{{dieType}}">
                <input class = "form-check-input"
                id="dieType{{dieType}}" 
                type="checkbox" name="dieType" 
                [value] = "dieType.value" 
                (change)="onCheckboxChange($event)">
                {{dieType.name}}
                </label>
        </div>
        </label>
        <input type="submit" value="Submit">
    </form>
</div>
