
<div class = "main-component d-flex flex-column align-items-md-center">
    <h1 class="p-2 align-middle">Add Die Roll</h1>
    <div>
        <label for='dieSet'>Select die set:</label> <br>
        <form class="mx-auto mb-auto p-2 align-top" name='dieSet' [formGroup]="dieSetsForm" (ngSubmit)="selectDieSet()">
                <select  class="left-element" formControlName="name">
                    <option disabled>Select Die Set</option>
                    <option>Choose Die Set</option> 
                    <option *ngFor="let dieSet of dieSets">{{dieSet['name']}}</option>
                </select>
            <button class = "btn btn-secondary">Submit</button>
        </form>
    
        <a routerLink="/create-die-set">Create new die set</a> <br>
    </div>

    <form  *ngIf='dieSetSelect' class = "form-group" #myform = "ngForm" (ngSubmit) = "onSubmit(myform)">
        <label class="col-sm-2 col-form-label" for='dieType'>Die Type:
        <div class = "form-check" *ngFor="let dieType of dieTypes; let i = index">
            <label class = "form-check-label" for="dieType{{dieType}}">
            <input class = "form-check-input" id="dieType{{dieType}}" type="radio" name="dieType" value = {{dieType}} ngModel><i>{{dieType}}</i>
            </label>
        </div>
        </label>
        <br>
        
        <div class = "form-group row" name ='rollValue'>
            <label class="col-sm-2 col-form-label" for='rollValue'>Roll Value:</label>
            <div class = "col-sm-10">
                <input type='integer' class="form-control small-text" placeholder="Enter roll" name = "rollValue" ngModel />
            </div>
        </div>
        <input class= "btn btn-primary" type = "submit" value = "Submit">
    </form>
</div>

