<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="150" alt="Dice Logo" src="assets\images\d20-2699387_1920.png">

  <link href="https://global.oktacdn.com/okta-signin-widget/4.3.2/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>

  <button routerLink="/"> Home </button>
  <button *ngIf="!isAuthenticated" routerLink="/login"> Login </button>
  <button *ngIf="isAuthenticated" (click)="logout()"> Logout </button>
  <button routerLink="/protected"> Protected </button>
  
  <router-outlet></router-outlet>

<!--<h2>Some things you can do: </h2>


<a routerLink="/user-data">See Data</a> <br>
<a routerLink="/form">Enter Die Roll</a> <br> 
<a routerLink="/chi-square-form">Analyze Data</a> <br>


<router-outlet></router-outlet>-->