<div>
    <form [formGroup]="dieSetForm" (ngSubmit)="submitForm()" novalidate>
        <!-- Form elements goes here -->
        <label>Name:
            <div>
                <input
                id="name"
                type="text"
                formControlName="name"
                >
            </div>
        </label>
        <br/>
        <label>Die Types:
        <div *ngFor="let dieType of dieTypes; let i = index">
            <label for="dieType{{dieType}}">
                <input 
                id="dieType{{dieType}}" 
                type="checkbox" name="dieType" 
                [value] = "dieType.value" 
                (change)="onCheckboxChange($event)">
                {{dieType.name}}
                </label>
        </div>
        </label>
        <input type="submit" value="Submit">
    </form>
</div>
