<div> 
    <form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)">
        <label for='dieSetsForm'>Create Die Set:</label><br>
        <label for='dieName'>Die Set Name</label>
            <div name = 'dieName'>
                <input type='string' placeholder="Enter name here" name = "dieName" ngModel>
            </div>
        <label for='dieDescription'>Description:</label>
            <div name = 'dieDescription'>
                <input type='string' placeholder="Enter description here" name = "dieDescription" ngModel>
            </div>
        <label for='dieType'>Die Types:</label>
        <div *ngFor="let dieType of dieTypes; let i = index">
            <label for="dieType{{dieType}}">
                <input id="dieType{{dieType}}" type="checkbox" name="dieType" value = {{dieType}} ngModel><i>{{dieType}}</i>
            </label>
        </div>
        <input type = "submit" value = "Submit">
    </form>
</div>
