<div class="main-component d-flex justify-content-center align-items-start flex-column">

    <form class="mx-auto mb-auto p-2" [formGroup]="dieSetsForm" (ngSubmit)="selectDieSet()">

        <select class="left-element" formControlName="name">
            <option disabled>Select Die Set</option>
            <option>Choose Die Set</option> 
            <option *ngFor="let dieSet of dieSets">{{dieSet['name']}}</option>
        </select>

        <button class = "btn btn-secondary">Submit</button>
    </form>

<table class = "table table-hover"> 
    <tr>
        <th scope="col">Die Type</th>
        <th scope="col">Number of Rolls</th>
        <th scope="col">Average Roll</th>
        <th scope="col">See Distribution</th>
        <th scope="col">Run Chi Square</th>
        <th scope="col">Clear Die Rolls</th>
    </tr>
    <tbody>
    <tr *ngFor = "let dieRoll of dieRolls | keyvalue">
        <td scope="col">D{{dieRoll.key}}</td>
        <td>{{numberOfRolls(dieRoll.value)}}</td>
        <td>{{this.dieRollAverage(dieRoll.value)}}</td>
        <td><button type = "button" class="btn btn-primary" (click) = "createStackedHistogram(dieRoll.key)">See Distribution</button></td>
        <td><button type = "button"  class="btn btn-success"(click) = "runChiSquare(dieRoll.key)">Analyze</button></td>
        <td><button type = "button" class="btn btn-danger" (click) = "clearDieRolls(dieRoll.key)">Clear Die Rolls</button> </td>
    </tr>
    </tbody>
</table>

<br>
<div *ngIf = "displayResults" class="p-2 mx-auto outcome text-center">
{{testResults}}
</div>

<div *ngIf = "displayHistogram" class="chart-wrapper">
    <canvas baseChart 
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
    
  </canvas>
</div>
</div>

