<div class="main-component container-fluid">
    
    <div *ngIf="!multi" class="row justify-content-center">
        <app-dice-roller></app-dice-roller>
    </div>  
    <br>
    <br>
    <div *ngIf="!multi" class="row align-bottom justify-content-center">
        <button type="button" class="btn btn-secondary" (click)="multiRoll()">Roll multiple dice</button>
    </div>

    <div class = "row justify-content-center" *ngIf="multi">
        <form name='dieNumber' [formGroup]="dieNumberForm" (ngSubmit)="dieNumberSubmit()">

            <select class="left-element" formControlName="numberDie">
                <option disabled>Select number of die</option>
                <option *ngFor="let num of numbers">{{num}}</option>
            </select>

            <button class = "btn btn-secondary">Submit</button>
        </form>
    </div>

    <div *ngIf="multiSelected">
        <form class="form-group mx-auto mb-auto p-2 align-top" name='multiDieRolls' [formGroup]="multiDieRollsForm" (ngSubmit)="rollDie()">
            
            <span *ngFor="let i of Arr(num).fill(1)">
                <select class = "left-element" formControlName={{i}}>
                    <option value = '' disabled>Select die type</option>
                    <option value='4'>4</option>
                    <option value='6'>6</option>
                    <option value='8'>8</option>
                    <option value='10'>10</option>
                    <option value='12'>12</option>
                    <option value='20'>20</option>
                </select>
            </span>
            
            <button type="submit" class = "btn btn-primary">Roll Dice</button>

        </form>
    </div>
    
</div>
